shamefully-hoist=true
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lefthook
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=@medusajs/telemetry
onlyBuiltDependencies[]=@vercel/git-hooks
